In [2]:
import pandas as pd
df_bert = pd.read_pickle("bert_scores_head_idx.pkl")
df_w2v2 = pd.read_pickle("w2v2_scores_head_idx.pkl")

In [3]:
df_bert.loc[df_bert.layer.notna(),'model'] = "bert"
df_w2v2.loc[df_w2v2.layer.notna(),'model'] = "w2v2"

In [4]:
df = pd.concat((df_bert,df_w2v2)).drop_duplicates()

In [5]:
df.loc[df.model.isna(), 'model'] = 'baseline'

In [6]:
df.groupby('model').max().transpose().to_csv("max_scores.csv")

In [7]:
counts = {'root': 534.0,
 'all': 7013.0,
 'advmod': 334.0,
 'expl': 34.0,
 'cop': 147.0,
 'mark': 303.0,
 'aux': 182.0,
 'csubj': 13.0,
 'obj': 440.0,
 'amod': 402.0,
 'obl': 453.0,
 'case': 645.0,
 'det': 668.0,
 'xcomp': 143.0,
 'nsubj': 590.0,
 'advcl': 166.0,
 'cc': 252.0,
 'conj': 349.0,
 'acl:relcl': 74.0,
 'nmod': 376.0,
 'acl': 95.0,
 'appos': 44.0,
 'nmod:npmod': 4.0,
 'obl:tmod': 11.0,
 'compound': 173.0,
 'nmod:poss': 129.0,
 'aux:pass': 69.0,
 'ccomp': 72.0,
 'nummod': 28.0,
 'nsubj:pass': 64.0,
 'cc:preconj': 5.0,
 'compound:prt': 49.0,
 'flat': 63.0,
 'discourse': 10.0,
 'fixed': 23.0,
 'parataxis': 24.0,
 'orphan': 1.0,
 'obl:npmod': 10.0,
 'dep': 16.0,
 'iobj': 7.0,
 'vocative': 2.0,
 'det:predet': 4.0,
 'dislocated': 1.0,
 'goeswith': 3.0,
 'reparandum': 1.0}

counts = [{'rel': k,  'counts': v} for k, v in counts.items()]

In [8]:
pd.DataFrame(counts).to_csv("counts.csv")

In [9]:
counts_df = pd.DataFrame(counts)
df.groupby('model').max().transpose().join(counts_df.set_index('rel'))[['counts']].to_csv("counts.csv")

In [10]:
cols = ['root', 'all', 'advmod', 'expl', 'cop', 'mark', 'aux', 'csubj', 'obj',
       'amod', 'obl', 'case', 'det', 'xcomp', 'nsubj', 'advcl', 'cc', 'conj',
       'acl:relcl', 'nmod', 'acl', 'appos', 'obl:tmod', 'compound',
       'nmod:npmod', 'nmod:poss', 'aux:pass', 'ccomp', 'nummod', 'nsubj:pass',
       'cc:preconj', 'compound:prt', 'flat', 'discourse', 'fixed', 'parataxis',
       'orphan', 'obl:npmod', 'dep', 'iobj', 'vocative', 'det:predet',
       'dislocated', 'goeswith', 'reparandum']
selected_cols = ['advmod', 'aux', 'case', 'det', 'fixed']
df.groupby("model")[selected_cols].idxmax()

          advmod  aux  case  det  fixed
model
baseline     292  292   293  292    288
bert          10  225    94   94     41
w2v2          49   94    89   97     40

In [15]:
df['desc'] = "layer " + df['layer'].astype(str) + ", head " + df['head'].astype(str) + ", durection " + df['direction'].astype(str)
df.loc[[10, 225, 94, 94, 41] ,selected_cols+['layer', 'head', 'direction', 'model', 'desc']]

,advmod,aux,case,det,fixed,layer,head,direction,model,desc
10,0.517964,0.500000,0.486822,0.675150,0.260870,0.0,10.0,dep->head,bert,"layer 0.0, head 10.0, durection dep->head"
10,0.050898,0.054945,0.150388,0.121257,0.000000,0.0,10.0,dep->head,w2v2,"layer 0.0, head 10.0, durection dep->head"
225,0.362275,0.697802,0.584496,0.550898,0.000000,6.0,9.0,head<-dep,bert,"layer 6.0, head 9.0, durection head<-dep"
225,0.095808,0.049451,0.038760,0.052395,0.391304,6.0,9.0,head<-dep,w2v2,"layer 6.0, head 9.0, durection head<-dep"
94,0.443114,0.538462,0.854264,0.946108,0.043478,7.0,10.0,dep->head,bert,"layer 7.0, head 10.0, durection dep->head"
94,0.458084,0.626374,0.593798,0.643713,0.000000,7.0,10.0,dep->head,w2v2,"layer 7.0, head 10.0, durection dep->head"
94,0.443114,0.538462,0.854264,0.946108,0.043478,7.0,10.0,dep->head,bert,"layer 7.0, head 10.0, durection dep->head"
94,0.458084,0.626374,0.593798,0.643713,0.000000,7.0,10.0,dep->head,w2v2,"layer 7.0, head 10.0, durection dep->head"
41,0.161677,0.000000,0.001550,0.025449,0.956522,3.0,5.0,dep->head,bert,"layer 3.0, head 5.0, durection dep->head"
41,0.296407,0.263736,0.203101,0.372754,0.173913,3.0,5.0,dep->head,w2v2,"layer 3.0, head 5.0, durection dep->head"

In [16]:
df[df.model=='w2v2']['det'].sort_values().dropna().tail()

38    0.655689
49    0.658683
21    0.658683
89    0.669162
97    0.718563
Name: det, dtype: float64

In [13]:
df.groupby('model')[selected_cols].std().transpose()

model   baseline      bert      w2v2
advmod  0.186394  0.122518  0.131575
aux     0.234603  0.165718  0.159906
case    0.203710  0.170485  0.144707
det     0.269153  0.198774  0.203164
fixed   0.000000  0.252666  0.241291

In [14]:
df[['layer', 'head']]

     layer  head
0      0.0   0.0
1      0.0   1.0
2      0.0   2.0
3      0.0   3.0
4      0.0   4.0
..     ...   ...
283   11.0   7.0
284   11.0   8.0
285   11.0   9.0
286   11.0  10.0
287   11.0  11.0

[582 rows x 2 columns]